extends layout

block content


  h1 ABOUT
  h3 The three most monumental aspects of any life.
  p Springing from the movie-loving culture of the Alamo Drafthouse Cinemas, Birth.Movies.Death. is putting the fun back in being a nerd. We know that people who love movies also love travel, good beer, tasty food, cool clothes and keeping up with the weirdest, craziest corners of pop culture. From cult classics to new blockbusters, from the latest TV shows to this week’s comic books, from the BBQ to the brew pub, B.M.D. is there to find the treasures, even - especially! - in trash.

  p What does Birth.Movies.Death. mean? It means you are born, you die and in between you go to the movies.  It’s a name that reflects the centrality of movies in our experience, in our lives. And it reflects the fact that the movies contain and comment on everything about life itself.



  
