extends layout

block content

  h1 ADD ARTICLE

  form(method="post")
        input.form-control(type="text", placeholder="author", name="authorname")
        input.form-control(type='text', placeholder='title', name="title")
        input.form-control(type='text', placeholder='byline', name="byline")
        textarea.form-control(rows='10', cols='100' placeholder="article content" name="content")
        button.form-control(type="submit") Submit Article


  footer.bmdfooter
    .container
      .row
        .col-lg-5.col-md-5
          img.logofooter(src='../images/bmd-logo-footer.png')
        .col-lg-2.col-md-2
          ul
            li
              h4 Sections
            li
              a(href='/news')  News
            li
              a(href='/reviews')  Reviews
            li
              a(href='/trailers')   Trailers
            li
              a(href='/podcasts')   Podcasts
        .col-lg-2.col-md-2
          ul
            li
              h4 B.M.D
            li
              a(href='/about') About
            li
              a(href='/advertise') Advertise
            li
              a(href='/contact') Contact
            li
              a(href='/privacy') Privacy
            li
              a(href='/terms') Terms
        .col-lg-2.col-md-2
          ul
            li
              h4 Elsewhere
            li
              a(href='http://www.facebook.com/birthmoviesdeath') Facebook
            li
              a(href='http://twitter.com/bmoviesd') Twitter
            li
              a(href='http://birthmoviesdeath.tumblr.com/') Tumblr
            li
              a(href='http://instagram.com/birthmoviesdeath') Instagram
