extends layout

block content

  h1 ADD ARTICLE

  form(method="post")
        input.form-control(type="file", name="authorpic")
        input.form-control(type="text", placeholder="author", name="authorname")
        input.form-control(type='text', placeholder='title', name="title")
        input.form-control(type='text', placeholder='byline', name="byline")
        textarea.form-control(rows='10', cols='100' placeholder="article content" name="content")
        button.form-control(type="submit") Submit Article
