doctype html
html
  head
    title= title
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    link(rel='stylesheet', href='/stylesheets/style.css')


  body


  header
    a(href='#')
      img.logoheader(src='../images/bmd-logo-wide.png')
    nav.navbar.navbar-inverse
      .container-fluid
        .navbar-header
          button.navbar-toggle(type='button', data-toggle='collapse', data-target='#myNavbar')
            span.icon-bar
            span.icon-bar
            span.icon-bar

        #myNavbar.collapse.navbar-collapse
          ul.nav.navbar-nav
            li
              a(href='/news') NEWS
            li
              a(href='/movies') MOVIES
            li
              a(href='/reviews') REVIEWS
            li
              a(href='/trailers') TRAILERS
            li
              a(href='/podcasts') PODCASTS
            li
              a(href='http://www.amazon.com/gp/registry/wishlist/16QLXXC21RT1U/') BMD BOOKS


          ul.nav.navbar-nav.navbar-right
            li
              a(href='#')
                i.fa.fa-search.fa-lg
            li
              a(href='http://facebook.com/birthmoviesdeath')
                i.fa.fa-facebook.fa-lg
            li
              a(href='http://twitter.com/bmoviesd')
                i.fa.fa-twitter.fa-lg
            li
              a(href='http://birthmoviesdeath.tumblr.com/')
                i.fa.fa-tumblr.fa-lg
            li
              a(href='https://instagram.com/birthmoviesdeath/')
                i.fa.fa-instagram.fa-lg
            li.dropdown
              a.dropdown-toggle(data-toggle='dropdown', href='#')
                | A
                span.caret
              ul.dropdown-menu
                li
                  a(href='http://drafthouse.com/') ALAMO DRAFTHOUSE CINEMA
                li
                  a(href='http://drafthousefilms.com/') DRAFTHOUSE FILMS
                li
                  a(href='http://fantasticfest.com/') FANTASTIC FEST
                li
                  a(href='http://foreveryoungadult.com/') FOREVER YOUNG ADULT
                li
                  a(href='http://mondotees.com/') MONDO

    .container
        .main-content

  footer.bmdfooter
    .container
      .row
        .col-lg-5.col-md-5
          img.logofooter(src='../images/bmd-logo-footer.png')
        .col-lg-2.col-md-2
          ul
            li
              h4 Sections
            li
              a(href='/news')  News
            li
              a(href='/reviews')  Reviews
            li
              a(href='/trailers')   Trailers
            li
              a(href='/podcasts')   Podcasts
        .col-lg-2.col-md-2
          ul
            li
              h4 B.M.D
            li
              a(href='#') About
            li
              a(href='#') Advertise
            li
              a(href='#') Contact
            li
              a(href='#') Privacy
        .col-lg-2.col-md-2
          ul
            li
              h4 Elsewhere
            li
              a(href='http://www.facebook.com/birthmoviesdeath') Facebook
            li
              a(href='http://twitter.com/bmoviesd') Twitter
            li
              a(href='http://birthmoviesdeath.tumblr.com/') Tumblr
            li
              a(href='http://instagram.com/birthmoviesdeath') Instagram



    block content
