extends layout

block content


  .container
    .row
      .col-lg-12.col-md-12
        header
          center
            h1 #{movies[0].moviename}
            
            
            
  .container
    .row
      each movie, i in movies
        .col-md-8
          p #{movie.moviename}
          p #{movie.releasedate}
          img.img-responsive(src='http://placehold.it/304x451')
