body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#myNavbar a{
  color: #FFFFFF;
  font-weight: bold;
}
#myNavbar a:hover{
  background-color: #444444;
}
.dropdown-menu{
  background-color: #444444;
}
.dropdown-menu li {
  padding-top: .5em;
  padding-bottom: .5em;
}
.dropdown-menu li a {
  font-weight: bold;
}

/*img.logheader{
  margin: 0 auto;
}*/

.logoheader {
  /*display:inline-block;*/
  margin-bottom: 2.5em;
  margin-left: 20em;
  /*margin: 0 auto;*/
  max-width: 100%;
  height: 4em;
}
.logofooter {
  /*margin-bottom: 2.5em;
  margin-left: 20em;*/
  width: 30em;
  height: 4em;
}

.bmdfooter {
  background-color: #000000;
  padding-top: 2em;
  padding-bottom: 5em;
  margin-top: 5em;
  /*margin-bottom: -5em;*/
}
.bmdfooter a {
  color: #FFFFFF;
}
.bmdfooter h4 {
  color: #FF4D00;
}
.bmdfooter ul {
  list-style-type: none;
}
.bmdfooter li {
  padding-top: .5em;
}

.thumbnail {
  border: none;
  /*height: 50%;
  width: 100%;*/
}
.image-responsive {
  margin-top: -1.5em;
  width: 1022px;
  height: 575px;
}
.articleImage{
  width: 1022px;
  height: 575px;
}
