body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#myNavbar a{
  color: #FFFFFF;
  font-weight: bold;
}
#myNavbar a:hover{
  background-color: #444444;
}
.dropdown-menu{
  background-color: #444444;
}
.dropdown-menu li {
  padding-top: .5em;
  padding-bottom: .5em;
}
.dropdown-menu li a {
  font-weight: bold;
}

/*img.logheader{
  margin: 0 auto;
}*/

.logoheader {
  /*display:inline-block;*/
  margin-bottom: 2.5em;
  margin-left: 20em;
  /*margin: 0 auto;*/
  max-width: 100%;
  height: 4em;
}
.logofooter {
  /*margin-bottom: 2.5em;
  margin-left: 20em;*/
  width: 30em;
  height: 4em;
}

.bmdfooter {
  background-color: #000000;
  padding-top: 2em;
  padding-bottom: 5em;
  margin-top: 5em;
  /*margin-bottom: -5em;*/
}
.bmdfooter a {
  color: #FFFFFF;
}
.bmdfooter h4 {
  color: #FF4D00;
}
.bmdfooter ul {
  list-style-type: none;
}
.bmdfooter li {
  padding-top: .5em;
}

.thumbnail {
  border: none;
  /*height: 50%;
  width: 100%;*/
}
.image-responsive {
  margin-top: -1.5em;
  width: 1022px;
  height: 575px;
}

#sectionHeader{
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #fe4901;
  text-align: center;
  text-decoration: underline;
}
#articlediv {
  width: 70%;
}
.articleImage{
  width: 1022px;
  height: 575px;
}
.articleTitle {
  color: #ffffff;
  font-weight: bold;
  font-family: Comic Sans;
  background-color: #000000;
  margin-top: -2em;
  /*width: 90%;*/
  padding-top: .5em;
  padding-bottom: .5em;
  font-size: 30px;
}
.articleByline {
}
.articleAuthor a {
  color: #FF4D00;
}
.articleContent {
}

#authorDiv {

}

#contactButtons {
  background-color: #e8e7e7;
  border-color: #e8e7e7;
  border-radius: 0%;
  color: #000000;
  font-weight: bold;
  margin-top: 1em;
  margin-bottom: 1em;
  width: 100%;
}
#contactButtons:hover {
  background-color: #bbbbbb;
  border-color: #bbbbbb;
}
#buttonText {
  text-decoration: none;
}
.row {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 0;

  }
