body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#myNavbar a{
  color: #FFFFFF;
  font-weight: bold;
}
#myNavbar a:hover{
  background-color: #444444;
}
.dropdown-menu{
  background-color: #444444;
}
.dropdown-menu li {
  padding-top: .5em;
  padding-bottom: .5em;
}
.dropdown-menu li a {
  font-weight: bold;
}

.logoheader {
  margin-bottom: 2.5em;
  margin-left: 20em;
  width: 40em;
  height: 4em;
}
.logofooter {
  /*margin-bottom: 2.5em;
  margin-left: 20em;*/
  width: 30em;
  height: 4em;
}

.bmdfooter {
  background-color: #000000;
  padding-top: 2em;
  padding-bottom: 5em;
}
.bmdfooter a {
  color: #FFFFFF;
}
.bmdfooter h4 {
  color: #FF4D00;
}
.bmdfooter ul {
  list-style-type: none;
}
.bmdfooter li {
  padding-top: .5em;
}
